usermod > users > new.html.erb

<h1>New User</h1>

<%= simple_form_for @user, url: usermod_users_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :user_type %>
  <%= f.input :fname %>
  <%= f.input :lname %>
  <%= f.submit "Create" %>
<% end %>