infosheetmod > infos > new.html.erb

<h1>New Info</h1>

<%= form_with model: @info, url: infosheetmod_section_infos_path(current_section.id) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <br />
    <br />
    <br />
    <%= form.label :infodata %>
    <br />
    <%= form.rich_text_area :infodata %>
    <%= form.submit %>
  </div>
<% end %>